@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

$font-Comfortaa: 'Comfortaa', cursive;

@mixin flex ($direction: row, $justify-pos:center, $align-pos:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-pos;
    align-items: $align-pos;
}