@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

$font-Comfortaa: 'Comfortaa', cursive;
$greenish: #59CE8F;
$redish: #FF5F5F;

@mixin flex ($direction: row, $justify-pos:center, $align-pos:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-pos;
    align-items: $align-pos;
}

@mixin input {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
}