@use "base";

li {
    position: relative;
    width: 66%;
    height: max(15%, 15px);
    list-style: none;
    
    .placeholder.label {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        padding: 17px;
        transition: 0.2s;
        font-size: 1.2rem;

        &::after {
            content: " (required)";
            font-style: italic;
        }
    }

    .material-symbols-outlined {
        align-self: center;
        padding: 10px;
        display: none;
        user-select: none;
        font-weight: 600;
        
    }

    .input {
        @include base.input;
        display: flex;
    }

    input[placeholder=" "] {
        width: 82%;
        padding: 10px;
        border: none;
        outline: none;
        flex: 1;
    }

    input:focus~.placeholder.label,
    input:not(:placeholder-shown)~.placeholder.label {
        transform: translateX(10px) translateY(-10px);
        font-size: 1rem;
        font-weight: 600;
        color: base.$blackish;
        padding: 1px 10px;
        background-color: white;
        border: 2px solid base.$blackish;
        border-radius: 3px;
        letter-spacing: 0.2rem;

        &::after {
            content: none;
        }
    }

    input:not(:placeholder-shown):not(:focus):invalid~.material-symbols-outlined.incorrect {
        display: block;
        color: base.$redish;
    }

    input:not(:placeholder-shown):valid~.material-symbols-outlined.correct {
        display: block;
        color: base.$aqua;
    }

    input:not(:placeholder-shown):valid~.placeholder.label {
        background-color: base.$aqua;
        color: base.$blackish;
    }

    input:not(:placeholder-shown):not(:focus):invalid~.placeholder.label {
        background-color: base.$redish;
        color: white;
    }
}


ul{
    .checkbox {
        align-self: center;

        input{
            display: none;
        }

        label {
            display: block;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            transition: 0.2s;
            padding-left: 29px;
            margin-bottom: 20px;
            position: relative;
            font-size: 1.2rem;
        }

        input:checked:hover + label:hover {
            color: base.$aqua
        }

        input:hover + label:hover {
            color: base.$redish
        }

        input:checked:hover + label:before {
            background: base.$aqua;
            box-shadow: inset 0px 0px 0px 2px base.$aqua;
        }

        input:hover + label:before{
            background: base.$redish;
            box-shadow: inset 0px 0px 0px 2px base.$redish;
        } 

        input + label:before {
            margin-left: 1px;
            content: "";
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            left: 0;
            top: 2px;
            width: 1.6rem;
            height: 1.6rem;
            border: 1px solid base.$blackish;
            border-radius: 0.2rem;
            -webkit-transition: all 0.2s, background 0.2s ease-in-out;
            transition: all 0.2s, background 0.2s ease-in-out;
            background: #f3f3f3;
        }

        input:checked + label:before {
            width: 1.4em;
            height: 1.4em;
            border-radius: 0.4rem;
            border: 2px solid #fff;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            background: base.$aqua;
            box-shadow: 0 0 0 2px base.$aqua;
        }
    }
}





@media only screen and (max-width: 768px){
    .signup {
        @include base.tremble;
        @include base.input;
        color: white;
        background-color: base.$blackish;
        user-select: none;
    }

    .signup.google {
        @include base.tremble(base.$redish);
        background-color: white;
        @include base.flex;
        color: base.$blackish;
        gap: 2vh;

        img {
            width: 3rem;
        }
    }
}

@media (hover: hover) {
    .signup {
        @include base.input;
        color: white;
        font-size: 2rem;
        transition: 0.2s;
        letter-spacing: 5px;
        background-color: base.$blackish;
    
        &:hover {
            transform: scale(1.04);
            background-color: base.$aqua;
            color: base.$blackish;
        }
    
        &:hover:active {
            transform: scale(1.02);
        }
    }
    
    .signup.google {
        @include base.flex;
        gap: 2vh;
        flex-wrap: wrap;
        font-size: 1.3rem;
        background-color: white;
        color: base.$blackish;
        letter-spacing: 3px;
    
        &:hover {
            background-color: base.$redish;
        }
    
        img {
            width: 20px;
        }
    }
    
}
