@use "base";

li {
    position: relative;
    width: 66%;
    height: 15%;
    list-style: none;
    
    .placeholder.label {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        padding: 17px;
        transition: 0.2s;
        font-size: 1.2rem;

        &::after {
            content: " (required)";
            font-style: italic;
        }
    }

    .material-symbols-outlined {
        align-self: center;
        padding: 10px;
        display: none;
        user-select: none;
        font-weight: bolder;
        
    }

    .input {
        @include base.input;
        display: flex;
    }

    input[placeholder=" "] {
        width: 82%;
        padding: 10px;
        border: none;
        outline: none;
        flex: 1;
    }

    input:focus~.placeholder.label,
    input:not(:placeholder-shown)~.placeholder.label {
        transform: translateX(10px) translateY(-10px);
        font-size: 1rem;
        font-weight: 600;
        color: black;
        padding: 1px 10px;
        background-color: white;
        border: 2px solid black;
        border-radius: 3px;
        letter-spacing: 0.2rem;

        &::after {
            content: none;
        }
    }

    input:not(:placeholder-shown):not(:focus):invalid~.material-symbols-outlined.incorrect {
        display: block;
        color: base.$redish;
    }

    input:not(:placeholder-shown):valid~.material-symbols-outlined.correct {
        display: block;
        color: #59CE8F;
    }

    input:not(:placeholder-shown):valid~.placeholder.label {
        background-color: #83FFE6;;
        color: black;
    }

    input:not(:placeholder-shown):not(:focus):invalid~.placeholder.label {
        background-color: base.$redish;
        color: white;
    }
}


ul{
    .checkbox {
        align-self: center;
        border: 1px solid;
        display: column;
        align-items: flex-start;

        input[type="checkbox"] {

        }
    }
}

.signup {
    @include base.input;
}
