@use "base";

li {
    position: relative;
    width: 66%;
    height: 15%;
    list-style: none;
    
    label {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        padding: 17px;
        transition: 0.2s;
        font-size: 1.2rem;

        &::after {
            content: " (required)";
            font-style: italic;
        }
    }

    .material-symbols-outlined {
        align-self: center;
        padding: 10px;
        display: none;
        user-select: none;
        font-weight: bolder;
        
    }

    .input {
        width: 100%;
        height: 40px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.5rem;
        outline: none;
        display: flex;
    }

    input {
        width: 82%;
        padding: 10px;
        border: none;
        outline: none;
        flex: 1;
    }

    input:focus~label,
    input:not(:placeholder-shown)~label {
        transform: translateX(10px) translateY(-10px);
        font-size: 1rem;
        font-weight: 600;
        color: black;
        padding: 1px 10px;
        background-color: white;
        border: 2px solid black;
        border-radius: 3px;
        letter-spacing: 0.2rem;

        &::after {
            content: none;
        }
    }

    input:not(:placeholder-shown):not(:focus):invalid~.material-symbols-outlined.incorrect {
        display: block;
        color: base.$redish;
    }

    input:not(:placeholder-shown):valid~.material-symbols-outlined.correct {
        display: block;
        color: #59CE8F;
    }

    input:not(:placeholder-shown):valid~label {
        background-color: #83FFE6;;
        color: black;
    }

    input:not(:placeholder-shown):not(:focus):invalid~label {
        background-color: base.$redish;
        color: white;
    }
}