@use "base";

html,body,main,.left {
    height: 100%;
    font-family: base.$font-Comfortaa;
    font-size: 10px;
}

header {
    height: 10%;
    h1 {
        @include base.flex;
        font-size: 3rem;
    }
}

form{
    height: 60%;
    width: 100%;
    .content {
        height: 100%;
        margin-top: max(50px, 10vh);
    
        ul {
            height: 100%;

            @include base.flex(column, start);
            padding: 0;
        }
    }
}

ul {
    li {
        margin-top: max(20px, 4vh);
    }
}

.image-container {
    &.mobile {
        width: 100%;
        height: max(50%, 25px);
        background-image: url("../Imgs/background-mobile.png");
        background-size: cover;
        background-repeat: repeat;
    }
}

@media only screen and (min-width: 768px) {
    html,body,main {
        height: 100%;
        font-family: base.$font-Comfortaa;
        font-size: 10px;

    }

    main {
        display: flex;
        .left {
            width: max(45%, 500px);
            height: 100%;
            border-right: 5px solid black
        }

        .right {
            @include base.flex;
            height: 100%;
            width: 55%;
            position: relative;
        }
    }

    .left {
        h1 {
            display: block;
            margin: 0px;
            font-size: 2.7rem;
            padding: 2vh;
            padding-top: 2vh;
        }
    }

    .right {
        .image-container{
            &.desktop{
                height: calc(100% - 30px);
                width: calc(100% - 30px);
                background-image: url("../Imgs/background-image2.png");
                background-size: contain;
                border: 15px solid white;
            }
        }
    }

    .image-container {
        &.mobile {
            background-image: none;
            height: 0%;
        }
    }
}