@use "base";

html,body,main,.left {
    height: 100%;
    font-family: base.$font-Comfortaa;
    font-size: 10px;
    color: base.$blackish;
    width: 100%
}

.left {
    @include base.flex(column, flex-start);
}

header {
    height: 13%;
    width: 100%;
    h1 {
        @include base.flex;
        font-size: 3rem;
    }
}

form{
    // height: 60%;
    width: 100%;
    .content {
        height: 100%;
        margin-top: max(20px, 4vh);
    
        ul {
            height: 100%;
            @include base.flex(column, start);
            padding: 0;
        }
    }
}

ul {
    li {
        margin-top: max(15px, 3vh);

        &:first-of-type {
            margin-top: 0;
            margin-top: 20px;
        }
    }

    h2 {
        width: 66%;
        font-size: 2.2rem;
        align-self: center;
        margin-bottom: 0;
        padding-left: 4px;
    }
}

.image-container {
    &.mobile {
        width: 100%;
        height: max(50%, 25px);
        background-image: url("../Imgs/mobile2.jpg");
        background-size: cover;
        background-repeat: repeat;
    }
}

.signup {
    margin-bottom: 2vh;
}

ul > p, footer  {
    margin-top: 0;
    margin-top: 3vh;
    font-size: 1.3rem;


    a {
        color: base.$aqua;
        background-color: transparent;
        text-decoration: none;

        &:hover {
            color: base.$redish;
            text-decoration: underline;
        }
    }
}

footer {
    margin-top: auto;
    padding-top: 5vh;
    margin-bottom: 2vh;

    a {
        color: base.$redish;
    }


    

}

@media only screen and (min-width: 768px){
    html,body,main {
        height: 100%;
        font-family: base.$font-Comfortaa;
        font-size: 10px;

        header {
            height: 8%;
        }

    }

    main {
        display: flex;
        .left {
            width: max(45%, 500px);
            height: 100%;
            border-right: 5px solid base.$blackish;
            overflow: auto;
            @include base.flex(column, flex-start)
        }

        .right {
            @include base.flex;
            height: 100%;
            width: 55%;
        }
    }

    .left {
        h1 {
            display: block;
            margin: 0px;
            font-size: 2.7rem;
            padding: 2vh;
            padding-top: 2vh;
        }

        // form {
        //      height: min(80%, 600px);
        // }
        .content {
            height: 100%;
        }
    }

    .right {
        .image-container{
            &.desktop{
                height: calc(100% - 30px);
                width: calc(100% - 30px);
                background-image: url("../Imgs/vecteezy_bauhaus-pattern-geometric-background-vector-stock_13133475.jpg");
                background-size: contain;
                background-repeat: repeat;
                border: 15px solid white;

            }
        }
    }

    .image-container {
        &.mobile {
            background-image: none;
            height: 0%;
        }
    }

    .content {
        height: 100%;
        margin-top: max(20px, 7vh);
    }
}

form {
    flex: wrap;
}



